name: Release

on:
  push:
    branches:
      - main

env:
  TURBO_APU: ${{ secrets.TURBO_API }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TURBO_REMOTE_ONLY: true

jobs:
  setup:
    runs-on: ubuntu-latest
    name: Setup Dependencies

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: ./.github/actions/cache-restore
        id: cache-node-modules

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: yarn install --immutable

  release:
    name: Package Version and Release
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node.js
        uses: ./.github/actions/cache-restore
        with:
          node-version: 16

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          publish: yarn publish-ci
        env:
          GITHUB_TOKEN: ${{ secrets.GUC_BOT_TOKEN }}
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
