name: Run Checks on PRs
on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: Setup Dependencies
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: ./.github/actions/cache-restore
        id: cache-node-modules
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: yarn install --immutable

  check_format:
    name: Validate formating with Prettier
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: ./.github/actions/cache-restore

      - name: Format source code
        run: yarn test:format

  check_types:
    name: Validate types with TypeScript
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: ./.github/actions/cache-restore

      - name: Check types
        run: yarn test:types

  check_lint:
    name: Validate linting with ES Lint
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: ./.github/actions/cache-restore

      - name: Check Types
        run: yarn test:lint

  check_gatsby_exports:
    name: Validate Gatsby exports
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: ./.github/actions/cache-restore

      - name: Build packages
        run: yarn build

      - name: Check exports
        run: yarn test:exports

  run-tests:
    name: Run package tests on (Node.js v${{ matrix.node }})
    runs-on: ubuntu-latest
    needs: [setup]
    env:
      NODE_OPTIONS: --max-old-space-size=6144
    strategy:
      matrix:
        node: [18]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js v${{ matrix.node }}
        uses: ./.github/actions/cache-restore
        with:
          node-version: ${{ matrix.node }}

      - name: Build packages
        run: yarn build

      - name: Set up S3 Server
        uses: ./.github/actions/s3-test-server

      - name: Execute tests
        run: yarn test
